<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>
<body>

<div class="input-group-append">
  <h3>도서관별 조회 페이지</h3>
  <form class="pager" method="get" action="/library/info">
    <select name="libcode" class="form-select" aria-label="Default select example">
      <option value="">-- 선택 --</option>
      <option th:each="li:${library}" th:value="${li.libcode}" th:text="${li.lib_name}"></option>
    </select>
    <div class="search-box">
      <button class="btn btn-secondary" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </button>
    </div>
  </form>
</div>
<a class="btn btn-success pd-l" th:href="@{/library/excel/download?libcode={libcode} (libcode = ${libcode})}">
  <span>도서관별 Excel 다운로드(시간 오래걸림)</span>
</a>
<a class="btn btn-primary" th:href="@{/search}" role="button">Home</a>

<div class="stop-watch mt2" th:if="${nanos}>0" th:text=" '걸린 시간 (ms) : ' + ${mills} + ' 밀리초'"></div>
<div class="stop-watch mt2" th:if="${nanos}>0" th:text=" '걸린 시간 (ns) : ' + ${nanos} + ' 나노초'"></div>
<div class="stop-watch" th:if="${nanos}>0" th:text=" '검색 결과 (rows) : ' + ${pagination.totalListCnt} + ' 개'"></div>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">번호</th>
    <th scope="col">책이름</th>
    <th scope="col">작가</th>
    <th scope="col">출판사</th>
    <th scope="col">권수</th>
    <th scope="col">isbn</th>
    <th scope="col">도서관이름</th>
  </tr>
  </thead>
  <tbody class="getAllSearch">
  <tr th:each="li : ${data10}">
    <td th:text="${li.book_id}"></td>
    <td th:text="${li.title}"></td>
    <td th:text="${li.author}"></td>
    <td th:text="${li.publisher}"></td>
    <td th:text="${li.book_count}"></td>
    <td th:text="${li.isbn}"></td>
    <td th:text="${li.lib_name}"></td>
  </tr>
  </tbody>
</table>

  <a class="page-link" th:href="@{/library/info?&libcode={libcode}&page={page}&size={size} (libcode = ${libcode}, page = ${pagination.totalPageCnt}, size=${pagination.pageSize})}" aria-label="Previous"></a>
    <!-- paging button-->
    <nav th:if="${pagination.totalListCnt}>0" aria-label="Page navigation example">
      <ul class="pagination d-flex justify-content-center">
        <li class="page-item">
          <a class="page-link" th:href="@{/library/info?&libcode={libcode}&page={page}&size={size} (libcode = ${libcode}, page = 1, size=${pagination.pageSize})}" aria-label="Previous">
            <span aria-hidden="true">처음</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" th:href="@{/library/info?&libcode={libcode}&page={page}&size={size} (libcode = ${libcode},page = ${pagination.prevBlock}, size=${pagination.pageSize})}" aria-label="Previous">
            <span aria-hidden="true">이전</span>
          </a>
        </li>
        <th:block  th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
          <li class="page-item"
              th:with="start = ${pagination.startPage}, end = ${pagination.endPage}, libcode = ${libcode}"
              th:each="pageButton : ${#numbers.sequence(start, end)}">
            <a class="page-link" th:href="@{/library/info?&libcode={libcode}&page={page}&size={size} (libcode = ${libcode}, page = ${pageButton},  size=${pagination.pageSize})}" th:text=${pageButton}></a>
          </li>
        </th:block>
        <li class="page-item">
          <a class="page-link" th:href="@{/library/info?&libcode={libcode}&page={page}&size={size}  (libcode = ${libcode},page = ${pagination.nextBlock}, size=${pagination.pageSize})}" aria-label="Next">
            <span aria-hidden="true">다음</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" th:href="@{/library/info?&libcode={libcode}&page={page}&size={size}  (libcode = ${libcode},page = ${pagination.totalPageCnt}, size=${pagination.pageSize})}" aria-label="Previous">
            <span aria-hidden="true">끝</span>
          </a>
        </li>
      </ul>
    </nav>
  <div th:if="${pagination.totalListCnt}==0" class="no-search">검색 내용을 찾을 수 없습니다</div>



</body>
</html>